.swiper-button-next {
    right: 1.5rem;
}

.swiper-button-prev {
    left: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
    border: 0.3rem solid var(--bs-text-opacity);
    border-radius: 10px;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--bs-text-opacity);
    background: var(--bs-white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.5rem;
}
